<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="../../assets/css/bootstrap.css" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="../../assets/css/font-awesome.css" rel="stylesheet" />

        <!-- CUSTOM STYLES-->
        <link href="../../assets/css/custom.css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Gestion des Notes</a>
        </div>
        <div style="color: white;
			padding: 15px 50px 5px 50px;
			float: right;
			font-size: 16px;">  &nbsp; <a href="../../index.php" class="btn btn-danger square-btn-adjust">Déconnecter</a> </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="../../assets/img/find_user.png" class="user-image img-responsive"/>
                </li>
                <li>
                    <a  href="../Conger/Conger.php"><i class="fa fa-qrcode fa-3x"></i> Etudiant</a>
                </li>
                <li>
                    <a  href="../Conger/Conger.php"><i class="fa fa-qrcode fa-3x"></i> Matiere</a>
                </li>
                <li>
                    <a  href="../Conger/Conger.php"><i class="fa fa-qrcode fa-3x"></i> Note</a>
                </li>
            </ul>

        </div>

    </nav>
        <div id="page-wrapper">
            <div id="page-inner">
                {% block body %}{% endblock %}
            </div>
        </div>

            <script src="../../assets/js/jquery-1.10.2.js"></script>
            <!-- BOOTSTRAP SCRIPTS -->
            <script src="../../assets/js/bootstrap.min.js"></script>
            <!-- METISMENU SCRIPTS -->
            <script src="../../assets/js/jquery.metisMenu.js"></script>
            <script src="../../assets/js/custom.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
